<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<!-- 
<p><a href="https://auth.ebay.com/oauth2/authorize?client_id=AdolfoYa-Sunglass-PRD-f660f6938-f26dac43&response_type=code&redirect_uri=Adolfo_Yanes-AdolfoYa-Sungla-lwdzvo&scope=https://api.ebay.com/oauth/api_scope https://api.ebay.com/oauth/api_scope/sell.marketing.readonly https://api.ebay.com/oauth/api_scope/sell.marketing https://api.ebay.com/oauth/api_scope/sell.inventory.readonly https://api.ebay.com/oauth/api_scope/sell.inventory https://api.ebay.com/oauth/api_scope/sell.account.readonly https://api.ebay.com/oauth/api_scope/sell.account https://api.ebay.com/oauth/api_scope/sell.fulfillment.readonly https://api.ebay.com/oauth/api_scope/sell.fulfillment https://api.ebay.com/oauth/api_scope/sell.analytics.readonly">Log in with Ebay</a></p> -->


