
<% if (params["password"].present? && params["password"] == password = ENV.fetch('PASSWORD'))%> 

<div class="container">
	<h3>Copia y el pega el link de la publicacion de Ebay en este espacio y presiona Enter para guardar</h3>
	<div>
		<input id="nuevo_url" onkeypress="if (window.event.keyCode == 13) traerData()">
	</div>
	<div id="status">
	</div>
</div>

<br>
<%= link_to 'Ver Listado', productos_path %>


<script>


	function traerData(){
    console.log("entramos en traerData ")
    var url = $('#nuevo_url').val();
    $('#nuevo_url').val('');
    $.ajax({
      type:"POST", 
      url:"<%= url_for traer_data_products_path(:id => 33)%>", 
      data: {url:url, "authenticity_token": AUTH_TOKEN },
      dataType: 'json',
      success:function(result){
        console.log("listo ")
        console.log(result)
      }
    });
  };


</script>

<% else %> 
Acceso no Autorizado 

<% end %> 