<div class="container">
	<table class="table">
		<thead>
			<th>URL</th>
			<th>UPC</th>
			<th>Precio Actual</th>
			<th>Precio Terapeak</th>
			<th>Precio LP</th>
			<th>Margen Bruto</th>
			<th>Margen Neto</th>
			<th>ROI %</th>
		</thead>
		<tbody>
			<tr>
				<td><input placeholder="url de la publicacion"></td>
				<td>UPC</td>
				<th>Precio Actual</th>
				<th>Precio Terapeak</th>
				<th>Precio LP</th>
				<th>Margen Bruto</th>
				<th>Margen Neto</th>
				<th>ROI %</th>
			</tr>
		</tbody>
	</table>
</div>